@{
    ViewData["Title"] = "Employee";
}
<h1>Dữ liệu của bạn vừa nhập là: @ViewBag.info</h1>
<form asp-action="index">
    <label>Nhập EmployeeID </label>
    <input type="text" name="EmployeeId"><br>
    <label>Nhập họ tên: </label>
    <input type="text" name="FullName"><br>
    <label>Nhập tuổi: </label>
    <input type="text" name="Age"><br>
    <label>Nhập lương: </label>
    <input type="text" name="Salary"><br>
    <input type="submit" value="Gửi dữ liệu">
</form>